<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bank_name</key>
		<string>工商银行</string>
		<key>bank_code</key>
		<string>1002</string>
		<key>bank_logo</key>
		<string>icon_bank_gonghang</string>
	</dict>
	<dict>
		<key>bank_name</key>
		<string>农业银行</string>
		<key>bank_code</key>
		<string>1004</string>
		<key>bank_logo</key>
		<string>icon_bank_nongye</string>
	</dict>
	<dict>
		<key>bank_name</key>
		<string>中国银行</string>
		<key>bank_code</key>
		<string>1026</string>
		<key>bank_logo</key>
		<string>icon_bank_zhongguo</string>
	</dict>
	<dict>
		<key>bank_name</key>
		<string>建设银行</string>
		<key>bank_code</key>
		<string>1003</string>
		<key>bank_logo</key>
		<string>icon_bank_jianshe</string>
	</dict>
	<dict>
		<key>bank_name</key>
		<string>招商银行</string>
		<key>bank_code</key>
		<string>1001</string>
		<key>bank_logo</key>
		<string>icon_bank_zhaoshang</string>
	</dict>
	<dict>
		<key>bank_name</key>
		<string>邮储银行</string>
		<key>bank_code</key>
		<string>1066</string>
		<key>bank_logo</key>
		<string>icon_bank_youchu</string>
	</dict>
	<dict>
		<key>bank_name</key>
		<string>交通银行</string>
		<key>bank_code</key>
		<string>1020</string>
		<key>bank_logo</key>
		<string>icon_bank_jiaotong</string>
	</dict>
	<dict>
		<key>bank_name</key>
		<string>浦发银行</string>
		<key>bank_code</key>
		<string>1004</string>
		<key>bank_logo</key>
		<string>icon_bank_pufa</string>
	</dict>
	<dict>
		<key>bank_name</key>
		<string>民生银行</string>
		<key>bank_code</key>
		<string>1006</string>
		<key>bank_logo</key>
		<string>icon_bank_minsheng</string>
	</dict>
	<dict>
		<key>bank_name</key>
		<string>兴业银行</string>
		<key>bank_code</key>
		<string>1009</string>
		<key>bank_logo</key>
		<string>icon_bank_xingye</string>
	</dict>
	<dict>
		<key>bank_name</key>
		<string>平安银行</string>
		<key>bank_code</key>
		<string>1010</string>
		<key>bank_logo</key>
		<string>icon_bank_pingan</string>
	</dict>
	<dict>
		<key>bank_name</key>
		<string>中信银行</string>
		<key>bank_code</key>
		<string>1021</string>
		<key>bank_logo</key>
		<string>icon_bank_zhongxin</string>
	</dict>
	<dict>
		<key>bank_name</key>
		<string>华夏银行</string>
		<key>bank_code</key>
		<string>1025</string>
		<key>bank_logo</key>
		<string>icon_bank_huaxia</string>
	</dict>
	<dict>
		<key>bank_name</key>
		<string>广发银行</string>
		<key>bank_code</key>
		<string>1027</string>
		<key>bank_logo</key>
		<string>icon_bank_guangfa</string>
	</dict>
	<dict>
		<key>bank_name</key>
		<string>光大银行</string>
		<key>bank_code</key>
		<string>1022</string>
		<key>bank_logo</key>
		<string>icon_bank_guangda</string>
	</dict>
	<dict>
		<key>bank_name</key>
		<string>北京银行</string>
		<key>bank_code</key>
		<string>1032</string>
		<key>bank_logo</key>
		<string>icon_bank_beijing</string>
	</dict>
	<dict>
		<key>bank_name</key>
		<string>宁波银行</string>
		<key>bank_code</key>
		<string>1056</string>
		<key>bank_logo</key>
		<string>icon_bank_ningbo</string>
	</dict>
</array>
</plist>
